:root{
    --mainColor:#46344E;
    --secondaryColor:#382a3f;
    
    --borderColor:#1d1520;

    --mainText: #fff;
    --seceondaryText:#eeeeee;

    --themeDotBorder: #fff;

    --previewBg: rgb(29, 21,32, 0.8);
    --previewBg: #111921;
    --previewShadow: /* #dfa801, #f0ead6 */  #2b202f;

    --buttonColor: #8534a3;
}